.aptDesc{
  display: inline-block;
  margin-top: 40px;
}

.aptPic{
  display: inline-block;
  margin-left: 50%;
  margin-top:-290px;
}

.resTable{
display: inline-block;
width: 40%;
vertical-align: top;
}